:root {
  --darkened: hsla(0, 0%, 0%, 0.8);
  --border-style: 2px solid var(--darkened);
  --border-rad: 2px;
  --control-margin: 8px;
}

body {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  background: #fff;
  color: #333;
  margin: 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
}

.invisible {
  visibility: hidden;
}

#status-message {
  background-color: hsla(50.6, 100%, 81.2%, 0.8);
  margin: 0.25rem;
  padding: 0.25rem;
}

button {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  border-width: 2px;
  border-color: #333;
  border-style: solid;
  background-color: #fff;
  width: 10em;
  min-width: 44px;
}

.outer-container {
  display: flex;
}

a:link {
  color: #222;
  font-weight: 700;
}

a:visited {
  color: #ddd;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
  display: none;
}

line {
  stroke-width: 2px;
  stroke: hsla(0, 0%, 0%, 0.8);
}

.tick {
  cursor: pointer;
}

.title {
  margin-top: 0;
  margin-bottom: 4px;
}

.map-container {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
}

.high-level-map {
  border: var(--border-style);
  border-radius: var(--border-rad);
  background-color: white;
}

.year,
.month {
  cursor: pointer;
}

.bar {
  stroke: var(--darkened);
  fill: hsl(210, 70%, 80%);
}

.high-level-map>text {
  fill: var(--darkened);
}

.day-map {
  margin-top: 30px;
}

.timelines-container {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.control-pane {
  position: fixed;
  bottom: var(--control-margin);
  right: var(--control-margin);
  width: 10em;
  display: flex;
  flex-direction: column;
  z-index: 1;
  font-size: 12px;
}

.doc-container {
  height: 100vh;
}

#doc-frame {
  position: fixed;
  right: 0;
  bottom: 0;
  border: var(--border-style);
  border-radius: var(--border-rad);
  height: calc(100vh - 100px);
}

.citation {
  position: fixed;
  top: 0;
  padding: 0.5em;
  background: hsl(0, 0%, 90%);
  border: 1px black solid;
  border-radius: 4px;
}

.date-docs-container div {
  height: 50vh;
  overflow-y: scroll;
}

.date-docs-container ul {
  background-color: white;
  border: var(--border-style);
  border-radius: var(--border-rad);
}

.date-docs-container ul li {
  cursor: pointer;
}